<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="ClientResources">
	<assemblies>
		<add assembly="TuyenPham.SiteSettings" />
	</assemblies>
	<clientModule initializer="tuyen-pham/site-settings/initializer">
		<moduleDependencies>
			<add dependency="CMS" type="RunAfter" />
		</moduleDependencies>
	</clientModule>
	<dojo>
		<paths>
			<add name="tuyen-pham/site-settings" path="scripts" />
		</paths>
	</dojo>
	<clientResources>
		<add name="epi-cms.widgets.base" path="styles/content-area-options.css" resourceType="Style" />
	</clientResources>
</module>
